@mixin colors {
  --black-100: #333;
  --black-10: rgba(0, 0, 0, 0.05);

  // --gray-70: rgb(89, 89, 89);
  // --gray-20: #e1e1e1;
  // --gray-10: rgba(255, 255, 255, 0.6);

  // --blue-70: rgb(54, 137, 243);

  // --red-70: #ff3b30;
  // --red-5: #fff5f5;

  --white-100: #fff;
  --white-10: rgba(255, 255, 255, 0.4);
}
