@mixin colors {
  --black-70: #454648;
  --black-5: rgba(0, 0, 0, 0.05);

  --gray-50: #878a8b;
  --gray-15: #d1d1d1;

  --blue-70: #2b63ca;
  --blue-30: #a0bffe;

  --red-30: #ffbec1;

  --white-400: #fff;
  --white-40: rgba(255, 255, 255, 0.4);
}
