@import "./reset";
@import "./colors";
@import "./flexbox";

.sudoku-app {
  @include colors;

  &.blue-white {
    --background-app: var(--white-100);
    --background-board: var(--white-100);
    --border-color-1: var(--gray-50); // внешняя граниа
    --border-color-2: var(--gray-50); // внутренний блок
    --border-color-3: var(--gray-15); // граница ячейки
    --error-color-1: var(--red-30);
    --text-color-1: var(--blue-30); // главный цвет
    --text-color-2: var(--black-70); // черный цвет
    --text-color-3: var(--white-100); // белый цвет
    --text-color-4: var(--blue-70); // яркий главный цвет
    --head-color-1: var(--text-color-1); // выделенные ячейки
  }

  &.blue-gray {
    --background-app: var(--black-90);
    --background-board: var(--gray-90);
    --border-color-1: var(--blue-70);
    --border-color-2: var(--blue-70);
    --border-color-3: var(--blue-5);
    --error-color-1: var(--red-30);
    --text-color-1: var(--blue-50);
    --text-color-2: var(--blue-10);
    --text-color-3: var(--white-100);
    --text-color-4: var(--blue-50);
    --head-color-1: var(--text-color-1);
  }

  &.green-pink {
    --background-app: var(--beige-40);
    --background-board: var(--beige-40);
    --border-color-1: var(--green-80);
    --border-color-2: var(--green-75);
    --border-color-3: var(--green-40);
    --error-color-1: var(--pink-40);
    --text-color-1: var(--green-15);
    --text-color-2: var(--green-80);
    --text-color-3: var(--beige-40);
    --text-color-4: var(--green-40);
    --head-color-1: var(--text-color-1);
    background-image: url("@/assets/background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  gap: 5px;
  width: fit-content;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: var(--background-app);

  .sudoku-app-header {
    width: 100%;

    .sudoku-app-header-text {
      color: var(--head-color-1);
      font-size: 13px;
    }
  }

  .sudoku-app-state-pause {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--head-color-1);
    opacity: 0.7;
    pointer-events: none;

    &::after {
      position: absolute;
      content: "Пауза";
      color: var(--text-color-3);
      font-weight: 600;
    }
  }
}
