.cell {
  box-sizing: border-box;
  width: 37px;
  height: 37px;
  border-right: 0.5px solid var(--border-color-3);
  border-bottom: 0.5px solid var(--border-color-3);
  color: var(--text-color-4);
  font-weight: 200;
  font-size: 25px;
  cursor: pointer;

  &.initial-value {
    color: var(--text-color-2);
  }

  &.selected-value {
    background-color: var(--head-color-1);
  }

  &.selected {
    border: none;
    color: var(--text-color-3);
    background-color: var(--head-color-1);
  }

  &.selected-error {
    background-color: var(--error-color-1);
  }

  &.bottom-border {
    border-bottom: 1.5px solid var(--border-color-2);
  }

  &.right-border {
    border-right: 1.5px solid var(--border-color-2);
  }
}
